<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--组件扫描到service接口-->

    <context:component-scan base-package="com.pinyougou.es.service"></context:component-scan>

    <!--扫描dao接口和-->
    <elasticsearch:repositories base-package="com.pinyougou.es.dao"></elasticsearch:repositories>

    <!--客户端连接es的服务器-->
    <elasticsearch:transport-client id="client" cluster-name="elasticsearch"
                                    cluster-nodes="127.0.0.1:9300"></elasticsearch:transport-client>

    <!--初始化spring的elasticSearchTemplate-->
    <bean class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate" id="elasticsearchTemplate">
        <constructor-arg name="client" ref="client"></constructor-arg>
    </bean>

    <import resource="applicationContext-dao.xml"></import>
</beans>