<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
 
</head>

<body class="hold-transition skin-red sidebar-mini" >
<div id="app">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">商品管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="提交审核" ><i class="fa fa-check"></i> 提交审核</button>
                                        <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
							<div class="box-tools pull-right">
								<div class="has-feedback">
									状态：<select v-model="searchEntity.auditStatus">
									<option value="">全部</option>
									<option value="0">未审核</option>
									<option value="1">已审核</option>
									<option value="2">审核未通过</option>
									<option value="3">已关闭</option>
								</select>
									商品名称：<input v-model="searchEntity.goodsName">
									<button class="btn btn-default" @click="searchList(1)">查询</button>
								</div>
							</div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">商品ID</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">商品价格</th>
									      <th class="sorting">一级分类</th>
									      <th class="sorting">二级分类</th>
									      <th class="sorting">三级分类</th>
									      <th class="sorting">状态</th>									     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
								  <tr v-for="(entity,index) in list">
									  <td><input type="checkbox"></td>
									  <td>{{entity.id}}</td>
									  <td>{{entity.goodsName}}</td>
									  <td>{{entity.price}}</td>
									  <td>{{itemCatList[entity.category1Id]}}</td>
									  <td>{{itemCatList[entity.category2Id]}}</td>
									  <td>{{itemCatList[entity.category3Id]}}</td>
									  <td>
										  {{status[entity.auditStatus]}}
									  </td>
									  <td class="text-center">
										  <a  class="btn bg-olive btn-xs" :href="'goods_edit.html?id='+entity.id">修改</a>
									  </td>
								  </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
							<navigation :pages="pages" :current.sync="pageNo"  @navpage="searchList"></navigation>
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
</div>
</body>
<script src="../plugins/vue/vue.js"></script>
<!--<script src="../js/controller/base.js"></script>-->
<script src="../plugins/axios/axios.js"></script>
<script src="../js/pagination.js"></script>
<script src="../js/controller/goodsManagerController.js"></script>
</html>