<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer" id="defaultMQPushConsumer" init-method="start" destroy-method="shutdown">
        <property name="namesrvAddr" value="127.0.0.1:9876"></property>
        <property name="consumerGroup" value="consumer_search_group"></property>
        <!--集群模式-->
        <property name="messageModel" value="CLUSTERING"></property>

        <property name="subscription">
            <map>
                <!--key:就是topic  value就是标签-->
                <entry key="Goods_Topic" value="*"></entry>
            </map>
        </property>

        <property name="messageListener" ref="messageListener"></property>

    </bean>

    <bean class="com.pinyougou.search.listener.GoodsMessageListener" id="messageListener"></bean>
</beans>