<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbGoods" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="default_item_id" property="defaultItemId" jdbcType="BIGINT" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="is_marketable" property="isMarketable" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="caption" property="caption" jdbcType="VARCHAR" />
    <result column="category1_id" property="category1Id" jdbcType="BIGINT" />
    <result column="category2_id" property="category2Id" jdbcType="BIGINT" />
    <result column="category3_id" property="category3Id" jdbcType="BIGINT" />
    <result column="small_pic" property="smallPic" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="type_template_id" property="typeTemplateId" jdbcType="BIGINT" />
    <result column="is_enable_spec" property="isEnableSpec" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
  </resultMap>
</mapper>