<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbProvincesMapper" >
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbProvinces" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="provinceid" property="provinceid" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
  </resultMap>
</mapper>