<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbSellerMapper" >
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbSeller" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="seller_id" property="sellerId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
    <result column="linkman_name" property="linkmanName" jdbcType="VARCHAR" />
    <result column="linkman_qq" property="linkmanQq" jdbcType="VARCHAR" />
    <result column="linkman_mobile" property="linkmanMobile" jdbcType="VARCHAR" />
    <result column="linkman_email" property="linkmanEmail" jdbcType="VARCHAR" />
    <result column="license_number" property="licenseNumber" jdbcType="VARCHAR" />
    <result column="tax_number" property="taxNumber" jdbcType="VARCHAR" />
    <result column="org_number" property="orgNumber" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="BIGINT" />
    <result column="logo_pic" property="logoPic" jdbcType="VARCHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="legal_person_card_id" property="legalPersonCardId" jdbcType="VARCHAR" />
    <result column="bank_user" property="bankUser" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>