<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--消息生产者-->
    <bean class="org.apache.rocketmq.client.producer.DefaultMQProducer" id="defaultMQProducer" init-method="start" destroy-method="shutdown">
        <!--设置生产者组名-->
        <property name="namesrvAddr" value="127.0.0.1:9876"></property>
        <!--设置服务端地址-->
        <property name="producerGroup" value="producer_spring_group1"></property>
    </bean>

</beans>